{% extends "base.html" %}
{% block title %}{% if is_edit %}Изменить ноду{% else %}Новая нода{% endif %} — FluxCore{% endblock %}

{% block content %}
<div class="form-box">
    <h2>{% if is_edit %}Изменить ноду «{{ node.name }}»{% else %}Новая нода{% endif %}</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fc-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}<p class="auth-error">{{ field.errors|striptags }}</p>{% endif %}
            {% if field.help_text %}<p class="fc-help-text">{{ field.help_text }}</p>{% endif %}
        </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn-primary">{% if is_edit %}Сохранить{% else %}Создать{% endif %}</button>
            <a href="{% url 'dashboard:node-list' %}" class="btn-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}
